<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <link rel="stylesheet" type="text/css" th:href="@{/styles/menu.css}"/>

    <nav class="navbar navbar-expand-lg navbar-light navbar-full" id="nav-main">
        <!-- Brand Logo -->
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/logo.png}" alt="Adidas Logo">
        </a>

        <!-- Toggler for Mobile -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Items -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- Home -->
                <li class="nav-item" th:classappend="${#httpServletRequest.requestURI == '/' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>

                <!-- Product List -->
                <li class="nav-item"
                    th:classappend="${#httpServletRequest.requestURI.startsWith('/productList') ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/productList}">Product List</a>
                </li>

                <!-- Cart (Visible to users/ROLE_EMPLOYEE without ROLE_MANAGER) -->
                <th:block sec:authorize="!hasRole('ROLE_MANAGER')">
                    <li class="nav-item"
                        th:classappend="${#httpServletRequest.requestURI.startsWith('/shoppingCart') ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/shoppingCart}">Cart</a>
                    </li>
                </th:block>

                <!-- Order List (Authorized) -->
                <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
                    <li class="nav-item"
                        th:classappend="${#httpServletRequest.requestURI.startsWith('/admin/orderList') ? 'active' : ''}">
                        <a th:href="@{/admin/orderList}" class="nav-link">Order List</a>
                    </li>
                </th:block>

                <!-- Create Product (Manager Only) -->
                <th:block sec:authorize="hasRole('ROLE_MANAGER')">
                    <li class="nav-item"
                        th:classappend="${#httpServletRequest.requestURI.startsWith('/admin/product') ? 'active' : ''}">
                        <a th:href="@{/admin/product}" class="nav-link">Create Product</a>
                    </li>
                </th:block>

                <!-- Dropdown for Authenticated Users -->
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <span th:utext="${#request.userPrincipal.name}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/admin/accountInfo}">Account Info</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/logout}">Logout</a></li>
                        </ul>
                    </li>
                </th:block>

                <!-- Login for Unauthenticated Users -->
                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item"
                        th:classappend="${#httpServletRequest.requestURI.startsWith('/admin/login') ? 'active' : ''}">
                        <a th:href="@{/admin/login}" class="nav-link">Login</a>
                    </li>
                </th:block>
            </ul>

            <!-- Search Form -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </nav>
</div>
